.mobileNav {
  padding-top: 50px;
  padding-bottom: 80px;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobileNavList li a {
  font-family: var(--font-ttRuns);
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

@media screen and (max-width: 375px) {
  .mobileNavList li a {
    font-size: 20px;
    line-height: 24px;
  }
}
