.telegram p {
  margin-bottom: 5px;
  font-family: var(--font-ttRuns);
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-transform: lowercase;
  letter-spacing: -0.04em;
  color: var(--black-600);
}

.telegram a {
  font-family: var(--font-ttCommons);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--basic-black);
}

.tgIconMobile {
  display: none;
}

.telegram a:hover {
  color: var(--links-hover);
}

@media screen and (max-width: 1440px) {
  .telegram p {
    font-size: 13px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .telegram a {
    font-size: 24px;
    line-height: 120%;
  }
}

@media screen and (max-width: 590px) {
  .telegram p {
    display: none;
  }

  .telegram a {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .tgIconMobile {
    display: flex;
  }
}