.presentation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links {
  display: flex;
  gap: 5px;
}

.presentation a {
  display: block;
  padding: 16px 15px;
  height: 51px;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  text-align: center;
  border-radius: 15px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: all 0.5s ease-in-out;
}

.presentation a:hover {
  background-color: var(--green);
  scale: 1.05;
}

.presentation p {
  max-width: 159px;
  font-family: var(--font-ttRuns);
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: var(--black-600);
}

@media screen and (max-width: 1440px) {
  .presentation a {
    font-size: 14px;
  }

  .presentation p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1281px) {
  .presentation a {
    height: 45px;
    border-radius: 12px;
    padding: 14px 12px;
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    gap: 7px;
  }

  .presentation a {
    border-radius: 12px;
    padding: 14px;
  }
}
