.footer {
  padding-top: 50px;
  border-top: 1px solid var(--light-grey);
}

.top {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom p {
  font-family: var(--font-ttRuns);
  font-size: 116px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--basic-black);
}

.bottom a {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black-400);
}
