.footer {
  padding-top: 50px;
  border-top: 1px solid var(--light-grey);
}

.top {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 25px;
}

.left .rightImage {
  display: none;
}

.footerBtn {
  width: 287px;
  height: 69px;
  margin-bottom: 111px;
}

.left p {
  font-family: var(--font-ttRuns);
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.right {
  display: flex;
  justify-content: space-between;
}

.rightText {
  max-width: 416px;
  padding-left: 50px;
}

.rightText > p {
  margin-bottom: 40px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.linksMobile {
  display: none;
}

.telegramMobile {
  display: none;
}

.slogan {
  margin-top: -13px;
  font-family: var(--font-ttRuns);
  font-size: 6.04167vw;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0em;
  text-transform: lowercase;
  white-space: nowrap;
  color: var(--basic-black);
}

.bottom a {
  display: flex;
  margin-top: 6px;
  font-family: var(--second-family);
  font-size: calc(0.625rem + 0.41667vw);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black-400);
}

.line {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1440px) {
  .top {
    margin-bottom: 20px;
  }

  .footerBtn {
    margin-bottom: 91px;
  }

  .left p {
    font-size: 18px;
  }

  .rightText {
    max-width: 387px;
    padding-left: 30px;
  }

  .rightText > p {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .slogan {
    font-size: calc(0.375rem + 5.625vw);
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-top: 31px;
  }

  .footerBtn {
    margin-bottom: 114px;
  }

  .left p {
    font-size: 16px;
  }

  .rightText {
    padding-left: 30px;
  }

  .rightText > p {
    margin-bottom: 28px;
    font-size: 16px;
  }

  .slogan {
    font-size: calc(0.375rem + 5.625vw);
  }
}

@media screen and (max-width: 971px) {
  .left .rightImage {
    display: block;
    max-height: 24px;
    margin-bottom: 40px;
  }

  .left .rightImage img {
    width: 154px;
    height: 24px;
  }

  .right .rightImage {
    display: none;
  }

  .slogan {
    font-size: 5.925vw;
  }
}

@media screen and (max-width: 768px) {
  .top {
    margin-bottom: 15px;
  }

  .footerBtn {
    margin-bottom: 32px;
  }

  .rightText {
    padding-left: 20px;
  }

  .rightText > p {
    margin-bottom: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding-top: 25px;
  }

  .footerBtn {
    width: 100%;
    height: 48px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .top {
    grid-template-columns: 1fr;
    margin-bottom: 15px;
  }

  .left .rightImage {
    display: none;
  }

  .left p {
    font-size: 13px;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -0.03em;
  }

  .right {
    display: none;
  }

  .linksMobile {
    display: block;
    margin-bottom: 24px;
    font-family: var(--font-ttCommons);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--basic-black);
  }

  .telegramMobile {
    display: block;
    margin-bottom: 40px;
  }

  .telegramMobile a {
    font-family: var(--font-ttCommons);
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--basic-black);
  }

  .slogan {
    font-size: 12.925vw;
    line-height: 107%;
  }

  .line {
    flex-direction: column;
    gap: 16px;
  }
}
