.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 25px 0;
  font-family: var(--font-ttRuns);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-white);
  background-color: var(--basic-black);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}
