.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 25px 0;
  font-family: var(--font-ttRuns);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-white);
  background-color: var(--basic-black);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease, scale 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  border-radius: calc(20px * 2);
  box-shadow: 0 7px 18px -15px hsla(0, 0%, 5%, 0.04),
    0 20px 20px 0 hsla(0, 0%, 5%, 0.05), 0 24px 19px -30px hsla(0, 0%, 5%, 0.25);
  scale: 1.1;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

@media screen and (max-width: 1441px) {
  .button {
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 375px) {
  .button {
    font-size: 13px;
    line-height: 16px;
  }
}
