:root {
  --font-ttCommons: 'TT Commons Pro', 'TT Commons Pro Trial', sans-serif;
  --font-ttRuns: 'TT Runs Trial', sans-serif;
  --basic-white: #ffffff;
  --white-100: rgba(255, 255, 255, 0.7);
  --white-200: rgba(255, 255, 255, 0.5);
  --black-100: rgba(14, 14, 14, 0.1);
  --black-400: rgba(14, 14, 14, 0.4);
  --black-600: rgba(14, 14, 14, 0.6);
  --black-800: rgba(14, 14, 14, 0.8);
  --basic-black: #0e0e0e;
  --light-grey: #e4e4e4;
  --green: #00ffa9;
  --bg: #f1f1f1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-width: 375px;
  font-family: var(--font-ttCommons);
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1860px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-native-scrollbar {
  scrollbar-width: none;
}

.hidden-native-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1880px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
