.clients {
  padding-top: 160px;
}

.title {
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--basic-black);
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1465px;
  margin: 0 auto;
}

@media screen and (max-width: 1880px) {
  .clientsList {
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .clients {
    padding-top: 130px;
  }

  .title {
    max-width: 602px;
    margin-bottom: 80px;
    font-size: 26px;
    line-height: 120%;
  }

  .clientsList {
    max-width: 1290px;
  }

  .client img {
    width: 250px;
    height: 180px;
  }
}

@media screen and (max-width: 1280px) {
  .clients {
    padding-top: 100px;
  }

  .title {
    max-width: 560px;
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 120%;
  }

  .clientsList {
    max-width: 1080px;
  }

  .client img {
    width: 215px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .clients {
    padding-top: 80px;
  }

  .title {
    max-width: 460px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 120%;
  }

  .clientsList {
    max-width: 645px;
  }
}

@media screen and (max-width: 590px) {
  .clients {
    padding-top: 32px;
  }

  .title {
    display: none;
  }

  .client img {
    width: 111px;
    height: 100px;
  }
}