.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding-top: 80px;
  background-color: tomato;
}

.top {
  display: flex;
  justify-content: space-between;
}

.slogan {
  max-width: 607px;
  font-family: var(--font-ttRuns);
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroBtn {
  width: 287px;
  height: 69px;
}
