.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 97dvh; */
  min-height: 928px;
  padding-top: 80px;
  border-bottom: 1px solid var(--light-grey);
}

.top {
  display: flex;
  justify-content: space-between;
}

.slogan {
  max-width: 607px;
  font-family: var(--font-ttRuns);
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottomLeft {
  display: flex;
  gap: 219px;
  max-height: 201px;
  padding-bottom: 50px;
  border-right: 1px solid var(--light-grey);
}

.sloganWrapper {
  display: flex;
  gap: 21px;
  align-self: flex-end;
}

.number {
  font-family: var(--font-ttRuns);
  font-size: 70px;
  font-weight: 600;
  line-height: 88%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.year {
  font-family: var(--font-ttCommons);
  font-size: 20px;
  font-weight: 500;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: var(--basic-black);
}

.better {
  display: inline-block;
  max-width: 193px;
  font-family: var(--font-ttRuns);
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: var(--black-600);
}

.bottomRight {
  display: flex;
  max-height: 193px;
  padding-left: 50px;
  padding-bottom: 40px;
}

.digital {
  max-width: 460px;
  margin-bottom: 26px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroBtn {
  width: 287px;
  height: 69px;
  margin-top: auto;
  margin-left: auto;
}
