.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  background-color: tomato;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroBtn {
  width: 287px;
  height: 69px;
}
