.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 928px;
  padding-top: 80px;
}

.border {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 150px;
  background-color: var(--light-grey);
  transform: rotate(-180deg) translateX(-50%);
}

.top {
  display: flex;
  justify-content: space-between;
}

.slogan {
  max-width: 607px;
  font-family: var(--font-ttRuns);
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottomLeft {
  display: flex;
  gap: 219px;
  max-height: 201px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--light-grey);
}

.sloganWrapper {
  display: flex;
  align-self: flex-end;
  gap: 20px;
}

.number {
  font-family: var(--font-ttRuns);
  font-size: 68px;
  font-weight: 700;
  line-height: 91%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.year {
  font-family: var(--font-ttCommons);
  font-size: 20px;
  font-weight: 500;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: var(--basic-black);
}

.better {
  display: inline-block;
  max-width: 193px;
  font-family: var(--font-ttRuns);
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: var(--black-600);
}

.bottomRight {
  display: flex;
  max-height: 201px;
  padding-left: 50px;
  padding-bottom: 50px;
  border-left: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.digital {
  max-width: 460px;
  margin-bottom: 26px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroLinks a {
  font-size: 20px;
  line-height: 125%;
}

.heroTgContact a {
  font-size: 20px;
  line-height: 125%;
}

.heroBtn {
  width: 287px;
  height: 69px;
  margin-top: auto;
  margin-left: auto;
}

.desktopLinks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobilePresent {
  display: none;
}

.mobileLinks {
  display: none;
}

.desktopPres {
  display: block;
}

.yearMobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .hero {
    min-height: 750px;
    padding-top: 60px;
  }

  .slogan {
    font-size: 50px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.03em;
  }

  .image {
    top: 44%;
  }

  .image img {
    width: 456px;
    height: 230px;
    border-radius: 20px;
  }

  .heroLinks a {
    font-size: 18px;
    line-height: 125%;
  }

  .heroTgContact a {
    font-size: 18px;
    line-height: 125%;
  }

  .bottomLeft {
    gap: 115px;
    padding-bottom: 60px;
  }

  .desktopLinks {
    margin-top: 6px;
    gap: 43px;
  }

  .sloganWrapper {
    gap: 17px;
  }

  .number {
    font-size: 54px;
    line-height: 112%;
  }

  .textContainer {
    gap: 8px;
  }

  .year {
    font-size: 18px;
    line-height: 125%;
  }

  .better {
    font-size: 13px;
    line-height: 110%;
  }

  .bottomRight {
    max-height: 202px;
    padding-left: 40px;
    padding-bottom: 38px;
  }

  .digital {
    max-width: 342px;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 150%;
  }

  .heroBtn {
    width: 250px;
    height: 61px;
    padding: 22px 0;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .hero {
    min-height: 708px;
  }

  .slogan {
    font-size: 42px;
    line-height: 125%;
    letter-spacing: -0.01em;
  }

  .image {
    top: 46%;
  }

  .heroLinks a {
    font-size: 16px;
    line-height: 20px;
  }

  .heroTgContact a {
    font-size: 16px;
    line-height: 20px;
  }

  .bottomLeft {
    align-self: flex-end;
    gap: 79px;
    padding-bottom: 30px;
  }

  .bottomRight {
    padding-top: 16px;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .digital {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 22px;
  }

  .heroBtn {
    border-radius: 15px;
    padding: 19px 0;
    width: 230px;
    height: 55px;
  }

  .desktopLinks {
    gap: 65px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 970px;
    padding-top: 50px;
  }

  .slogan {
    max-width: 460px;
    font-size: 38px;
    line-height: 125%;
  }

  .image {
    top: 39%;
    width: 416px;
    height: 186px;
  }

  .image img {
    border-radius: 12px;
  }

  .bottomLeft {
    align-self: flex-start;
    flex-direction: column;
    gap: 100px;
    max-height: 100%;
    height: 264px;
  }

  .sloganWrapper {
    flex-direction: column;
    align-self: flex-start;
  }

  .number {
    font-size: 38px;
    line-height: 90%;
  }

  .year {
    display: none;
  }

  .yearMobile {
    display: inline;
    font-family: var(--font-ttCommons);
    font-size: 15px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--basic-black);
  }

  .better {
    font-size: 13px;
    line-height: 110%;
    text-transform: lowercase;
  }

  .bottomRight {
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    height: 264px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .mobileLinks {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-bottom: 22px;
  }

  .digital {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 140%;
  }

  .mobilePresent {
    display: block;
  }

  .desktopLinks {
    display: none;
  }

  .desktopPres {
    display: none;
  }

  .heroBtn {
    margin: 0;
    width: 217px;
    height: 48px;
    padding: 16px 0;
    border-radius: 12px;
  }
}
