.links {
  margin-bottom: 30px;
}

.links a {
  font-family: var(--font-ttCommons);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black-1000);
}

@media screen and (max-width: 1440px) {
  .links {
    margin-bottom: 24px;
  }

  .links a {
    font-size: 22px;
  }
}

@media screen and (max-width: 1280px) {
  .links {
    margin-bottom: 24px;
  }

  .links a {
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 768px) {
  .links {
    margin-bottom: 20px;
  }

  .links a {
    font-size: 16px;
  }
}
