.links a {
  display: inline-block;
  font-family: var(--font-ttCommons);
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--basic-black);
}

.links a:first-child {
  margin-bottom: 8px;
}

.links a:hover {
  color: var(--links-hover);
}

@media screen and (max-width: 1440px) {
  .links a {
    font-size: 22px;
  }
}

@media screen and (max-width: 1280px) {
  .links a {
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 768px) {
  .links a {
    font-size: 15px;
    line-height: 125%;
  }
}
