.portfolio {
  padding-top: 160px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  border-top: 1px solid var(--light-grey);
}

.sloganContainer {
  border-left: 1px solid var(--light-grey);
}

.title {
  margin-top: 51px;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.sloganContainer {
  padding-top: 50px;
  padding-left: 48px;
}

.sloganOne {
  max-width: 420px;
  margin-bottom: 28px;
  font-family: var(--font-ttRuns);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.sloganTwo {
  max-width: 460px;
  font-family: var(--font-ttCommons);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(606px, 1fr));
  gap: 100px 20px;
  margin-bottom: 100px;
}

.image {
  margin-bottom: 30px;
}

.image img {
  border-radius: 30px;
}

.work h3 {
  margin-left: 20px;
  margin-bottom: 12px;
  font-family: var(--font-ttRuns);
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.work p {
  margin-left: 20px;
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black-600);
}

.portfolioBtn {
  width: 269px;
  height: 69px;
  margin: 0 auto;
}
