.portfolio {
  padding-top: 130px;
  background-color: purple;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
  border-top: 1px solid var(--light-grey);
}

.title {
  margin-top: 40px;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.sloganContainer {
  max-width: 550px;
  padding-top: 40px;
  padding-left: 40px;
}

.sloganOne {
  margin-bottom: 24px;
  font-family: var(--font-ttRuns);
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.sloganTwo {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(606px, 1fr));
  column-gap: 20px;
  row-gap: 80px;
  margin-bottom: 100px;
}

.image {
  margin-bottom: 20px;
}

.image img {
  border-radius: 30px;
}

.work h3 {
  margin-bottom: 10px;
  font-family: var(--font-ttRuns);
  font-size: 20px;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.work p {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black-600);
}

.portfolioBtn {
  width: 269px;
  height: 69px;
}
