.banner {
  overflow: hidden;
  padding-top: 160px;
}

.slides {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
  border-radius: 30px;
}

.mainWrapper {
  display: flex;
  align-items: center;
}

.main {
  max-width: 671px;
  padding-top: 150px;
  padding-bottom: 244px;
}

.main h3 {
  margin-bottom: 40px;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.textWithIcons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-family: var(--font-ttRuns);
  font-size: 42px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--second-black);
}

.main p {
  margin-bottom: 30px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.slide {
  padding: 30px;
  background-color: var(--basic-white);
  border-radius: 30px;
}

.slide:nth-child(2) {
  display: none;
}

.pagination {
  display: flex;
  gap: 10px;
  max-width: 70px;
  height: 10px;
}

.paginationBtn {
  display: flex;
  width: 10px;
  height: 10px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--light-grey);
  cursor: pointer;
}

.active {
  background-color: var(--basic-black);
}

.images {
  position: relative;
}

.images img:nth-child(3) {
  position: absolute;
  top: 211px;
  right: -332px;
}

.images img:nth-child(4) {
  position: absolute;
  top: 1px;
  right: -280px;
}

.bannerBtn {
  width: 257px;
  height: 69px;
}
