.banner {
  overflow: hidden;
  padding-top: 160px;
}

.slide {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-image: url('../../public/banner-images-bg.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-color: var(--basic-white);
  border-radius: 30px;
}

.slide .slideSecond {
  background-image: url('../../public/banner-images-bg-second.png');
}

.slide:nth-child(2) {
  display: none;
}

.mainWrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.main {
  max-width: 671px;
  padding-top: 150px;
  padding-bottom: 225px;
}

.main h3 {
  margin-bottom: 40px;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.textWithIcons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-family: var(--font-ttRuns);
  font-size: 42px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--second-black);
}

.earthBox {
  display: flex;
  margin-top: 12px;
}

.earth {
  display: flex;
  max-width: 75px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 180px;
  background-color: var(--green);
}

.digitalSpace {
  display: flex;
  align-items: center;
  width: 424px;
  padding: 2px 26px 5px;
  background-color: var(--green);
  border-radius: 180px;
}

.main p {
  max-width: 510px;
  margin-bottom: 30px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.pagination {
  display: flex;
  gap: 10px;
  max-width: 70px;
  height: 10px;
  padding-left: 10px;
}

.paginationBtn {
  display: flex;
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--light-grey);
  cursor: pointer;
}

.active {
  background-color: var(--basic-black);
}

.bannerBtn {
  width: 257px;
  height: 69px;
}

@media screen and (max-width: 1440px) {
  .banner {
    padding-top: 80px;
  }

  .slide {
    padding-bottom: 41px;
    background-image: url('../../public/banner-images-bg-lg.png');
    background-repeat: no-repeat;
  }

  .main {
    max-width: 594px;
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .main h3 {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 120%;
  }

  .main p {
    max-width: 470px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 140%;
  }

  .textWithIcons {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 41px;
  }

  .earthBox {
    margin-top: 4px;
  }

  .earth {
    max-width: 64px;
    padding: 10px 15px;
  }

  .digitalSpace {
    width: 366px;
    padding: 2px 23px 5px;
    border-radius: 154px;
  }

  .bannerBtn {
    border-radius: 15px;
    padding: 22px 0;
    width: 223px;
    height: 61px;
  }

  .pagination {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    padding-top: 70px;
  }

  .slide {
    max-height: 580px;
    background-image: url('../../public/banner-images-bg-md.png');
    background-repeat: no-repeat;
    background-position: 495px 64px;
  }

  .mainWrapper {
    max-height: 100%;
  }

  .main {
    padding-top: 90px;
  }

  .main h3 {
    margin-bottom: 24px;
  }

  .textWithIcons {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 41px;
  }

  .textWithIcons:nth-child(2) {
    margin-top: -3px;
  }

  .earth {
    max-width: 57px;
    padding: 5px 15px;
  }

  .digitalSpace {
    width: 325px;
    height: 43px;
    padding: 2px 20px 4px;
    border-radius: 138px;
  }

  .bannerBtn {
    width: 203px;
    height: 55px;
    padding: 19px 0;
  }

  .pagination {
    margin-top: 100px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding-top: 59px;
  }

  .slide {
    padding: 25px;
    background-image: url('../../public/banner-images-bg-tablet.png');
    background-repeat: no-repeat;
    background-position: 355px 61px;
  }

  .main {
    max-width: 435px;
    padding-top: 35px;
  }

  .main h3 {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 16px;
  }

  .main p {
    max-width: 315px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 21px;
  }

  .textWithIcons {
    font-size: 28px;
    line-height: 32px;
  }

  .iconHeart {
    width: 32px;
    height: 32px;
  }

  .earth {
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 37px;
    padding: 5px 8px;
    border-radius: 120px;
  }

  .earth img {
    width: 22px;
    height: 22px;
  }

  .iconBuilding {
    width: 32px;
    height: 32px;
  }

  .digitalSpace {
    width: 282px;
    height: 37px;
    padding: 1px 17px 3px;
    border-radius: 120px;
  }

  .bannerBtn {
    border-radius: 12px;
    padding: 16px 0;
    width: 192px;
    height: 48px;
  }

  .pagination {
    padding: 0;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .paginationBtn {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 375px) {
  .banner {
    display: none;
  }
}