.awards {
  padding-top: 160px;
  padding-bottom: 160px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  border-top: 1px solid var(--light-grey);
}

.left {
  padding-top: 50px;
}

.right {
  padding-top: 50px;
  padding-left: 50px;
  border-left: 1px solid var(--light-grey);
}

.title {
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.sloganOne {
  max-width: 566px;
  margin-bottom: 30px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.sloganTwo {
  max-width: 626px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.main {
  display: flex;
  justify-content: space-between;
}

.achivements {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 685px;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 27px;
}

.link > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--black-600);
}

.text {
  display: flex;
  max-height: 63px;
  font-family: var(--font-ttRuns);
  font-size: 70px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--black-400);
}

.text img {
  width: 0;
}

.text span {
  display: flex;
}

.number {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--black-600);
}

.awardsCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 920px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 291px;
  padding: 39px;
  background-color: var(--basic-white);
  border-radius: 30px;
}

.cardItem dt {
  display: inline-block;
  margin-bottom: 10px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.cardItem dd {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black-600);
}

.cardItem p {
  margin-top: auto;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}
