.awards {
  padding-top: 160px;
  padding-bottom: 156px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  border-top: 1px solid var(--light-grey);
}

.left {
  padding-top: 50px;
}

.right {
  padding-top: 50px;
  padding-left: 50px;
  border-left: 1px solid var(--light-grey);
}

.title {
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.sloganOne {
  max-width: 566px;
  margin-bottom: 30px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.sloganTwo {
  max-width: 626px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.main {
  display: flex;
  justify-content: space-between;
}

.achivements {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 685px;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 27px;
}

.link > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--black-600);
}

.text {
  display: flex;
  max-height: 63px;
  font-family: var(--font-ttRuns);
  font-size: 70px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--black-400);
}

.text img {
  width: 0;
}

.text span {
  display: flex;
}

.number {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--black-600);
}

.awardsContainer {
  max-width: 920px;
}

.awardsCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 291px;
  padding: 39px;
  background-color: var(--basic-white);
  border-radius: 30px;
}

.cardItem dt {
  display: inline-block;
  margin-bottom: 10px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.cardItem dd {
  font-family: var(--font-ttCommons);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black-600);
}

.cardItem p {
  margin-top: auto;
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

@media screen and (max-width: 1440px) {
  .awards {
    padding-top: 129px;
    padding-bottom: 129px;
  }

  .top {
    margin-bottom: 80px;
  }

  .left {
    padding-top: 42px;
  }

  .right {
    padding-top: 37px;
    padding-left: 37px;
  }

  .awardsContainer {
    max-width: 680px;
  }

  .sloganOne {
    margin-bottom: 26px;
    max-width: 463px;
    font-size: 26px;
    line-height: 120%;
  }

  .sloganTwo {
    max-width: 565px;
    font-size: 16px;
    line-height: 140%;
  }

  .text {
    max-height: 43px;
    font-size: 56px;
    line-height: 90%;
  }

  .cardItem {
    width: 330px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
  }

  .cardItem dt {
    font-size: 26px;
    line-height: 120%;
  }

  .cardItem dd {
    font-size: 15px;
    line-height: 130%;
  }

  .cardItem p {
    max-width: 220px;
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1280px) {
  .awards {
    padding-top: 98px;
    padding-bottom: 98px;
  }

  .top {
    margin-bottom: 70px;
  }

  .left {
    padding-top: 30px;
  }

  .right {
    padding-top: 28px;
    padding-left: 28px;
  }

  .sloganOne {
    max-width: 420px;
    font-size: 24px;
    line-height: 120%;
  }

  .sloganTwo {
    font-size: 16px;
    line-height: 140%;
  }

  .main {
    justify-content: initial;
    gap: 43px;
  }

  .awardsContainer {
    max-width: 610px;
  }

  .achivements {
    gap: 27px;
    max-width: 100%;
    width: 587px;
  }

  .text {
    font-size: 48px;
    line-height: 90%;
  }

  .cardItem {
    width: 190px;
    height: 190px;
    padding: 20px;
    border-radius: 25px;
  }

  .cardItem dt {
    font-size: 24px;
    line-height: 120%;
  }
}

@media screen and (max-width: 768px) {
  .awards {
    padding-top: 78px;
    padding-bottom: 80px;
  }

  .top {
    margin-bottom: 60px;
  }

  .left {
    padding-top: 20px;
  }

  .right {
    padding-top: 20px;
    padding-left: 20px;
  }

  .main {
    gap: 50px;
  }

  .title {
    font-size: 13px;
    line-height: 120%;
  }

  .sloganOne {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 120%;
  }

  .sloganTwo {
    max-width: 330px;
    font-size: 15px;
    line-height: 140%;
  }

  .text {
    font-size: 32px;
    line-height: 90%;
    color: var(--basic-black);
  }

  .text span {
    display: flex;
    height: 29px;
  }

  .achivements {
    width: 364px;
    gap: 15px;
  }

  .link {
    max-height: 29px;
    gap: 15px;
  }

  .link > span {
    font-size: 13px;
    line-height: 120%;
  }

  .awardsCardList {
    gap: 15px;
  }

  .cardItem {
    width: 170px;
    height: 170px;
    padding: 20px;
    border-radius: 20px;
  }

  .cardItem dt {
    font-size: 20px;
    line-height: 120%;
  }

  .cardItem dd {
    font-size: 15px;
    line-height: 130%;
  }

  .cardItem p {
    font-size: 12px;
    line-height: 120%;
  }

  .cardItem:last-child {
    width: 100%;
  }
}
