.awards {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: peru;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  border-top: 1px solid var(--light-grey);
}

.left {
  padding-top: 50px;
}

.right {
  padding-top: 50px;
  padding-left: 50px;
  border-left: 1px solid var(--light-grey);
}

.title {
  font-family: var(--font-ttRuns);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: var(--basic-black);
}

.sloganOne {
  max-width: 566px;
  margin-bottom: 30px;
  font-family: var(--font-ttRuns);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--basic-black);
}

.sloganTwo {
  max-width: 626px;
  font-family: var(--font-ttCommons);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}
