.header {
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--light-grey);
}

.logo {
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: auto;
  padding-left: 50px;
}

.mainNav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mainNav li {
  display: flex;
  font-family: var(--font-ttRuns);
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  text-transform: lowercase;
  letter-spacing: -0.04em;
  color: var(--basic-black);
}

.favorite {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 189px;
}

.favorite span {
  font-family: var(--font-ttRuns);
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--basic-black);
}

.favoriteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  background-color: var(--basic-black);
  cursor: pointer;
  border-radius: 15px;
  border: none;
  outline: none;
}

.burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .logo img {
    width: 73px;
    height: 24px;
  }

  .navigation {
    gap: 0;
  }

  .mainNav {
    gap: 32px;
  }

  .mainNav li {
    font-size: 13px;
    letter-spacing: -0.03em;
  }

  .favorite {
    margin-left: 32px;
    border-radius: 12px;
  }

  .favoriteBtn {
    width: 36px;
    height: 36px;
  }

  .favoriteBtn img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo img {
    width: 67px;
    height: 22px;
  }

  .mainNav {
    gap: 24px;
  }

  .mainNav li {
    font-size: 13px;
    letter-spacing: -0.03em;
  }

  .favorite {
    margin-left: 28px;
    border-radius: 12px;
  }

  .favoriteBtn {
    width: 32px;
    height: 32px;
  }

  .favoriteBtn img {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 924px) {
  .wrapper {
    justify-content: space-between;
  }

  .navigation {
    display: none;
  }

  .burger {
    display: flex;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 3px;
    padding-bottom: 0px;
  }

  .logo img {
    width: 55px;
    height: 18px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    max-height: 32px;
  }
  .logo img {
    width: 52px;
    height: 17px;
  }
}
