.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.socialItem {
  display: flex;
  align-items: center;
  gap: 10;
}

.number {
  font-family: var(--font-ttRuns);
  font-size: 12px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--basic-black);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: var(--basic-white);
  border-radius: 15px;
}
